@import 'material-kit/colors';

.checked p {
    text-decoration: line-through;
}

.shopping-nav {
    margin-left: 1em; 
    margin-top: .3em;
}

.color-green {
    color: $green !important;
}

.color-red {
    color: $red !important;
}

.task .form-group {
    margin-top: 0;
}

.task .edit-task,
.task .delete-task {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
}

.task:hover .edit-task,
.task:hover .delete-task {
    opacity: 1;
}

.project-container .edit-project,
.project-container .delete-project {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
}

.project-container nav:hover .edit-project,
.project-container nav:hover .delete-project {
    opacity: 1;
}

.editTaskForm .datepicker,
.datepicker.dropdown-menu.open {
    z-index: 9999 !important;
}

.footer-logo {
    display: inline-block;
    width: 1em;
    height: auto;
    margin-left: .3em;
}

.edit-project,
.delete-project {
    color: white !important;
}

.delete-project {
    padding-left: .75em !important; 
    padding-right: 0 !important;
}

.delete-task {
    padding-left: .75em !important;
    padding-right: .5em !important; 
}

.icon-deadline {
    font-size: 1em !important;
}

.task .checkbox {
    padding-left: 1.25em !important; 
    padding-right: .7em !important;
}

.project-container nav .text-right {
    padding-right: 0 !important;
}

@media screen and (max-width: 1024px) {
    .project-container .edit-project,
    .project-container .delete-project,
    .task .edit-task,
    .task .delete-task {
        opacity: 1;
    }
}

span.checkbox-material:nth-child(3) {
    display: none !important;
}

.task-deadline {
    font-size: .85em;
}

.page-header.landing {
    background-image: url('../img/bg.jpg');
}

.page-header.login {
    background-image: url('../img/bg-login.jpg'); 
    background-size: cover; 
    background-position: top center;
}

.page-header.signup {
    background-image: url('../img/bg-login.jpg'); 
    background-size: cover; 
    background-position: top center;
}